.navbar {
  position: sticky;
  top: 0;
  background-color: #000000;
  z-index: 1000; /* Ensure the navbar is above other content */
  color: rgb(194, 194, 194);
  text-align: center;
  /* padding: 10px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}
